body {
  background-color: #ECF4D6;
}

.conatainer {
  position: relative;
}

.part1 {
  /* border: 1px solid black; */
  background-color: #EEF296;
}

.part2 {
  height: 600px;
  /* border: 1px solid black; */
  overflow-y: scroll;
  overflow-x: unset;
  /* background-color: #FF8F8F; */
  background-color: #C7DCA7;

}